ol,
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.draggable-list ol {
    background: #fff;
}

.draggable-list ol li {
    border-bottom: solid 1px #ddd;
    padding: 16px;
    position: relative;
    transition: all ease 0.3s;
}

.draggable-list ol li:hover {
    background: rgba(34, 171, 237, 0.1);
}

.draggable-list ol li button {
    position: absolute;
    right: 20px;
    cursor: move;
    background: transparent;
    border: 0;
}

.draggable-list ol li:nth-last-child(1) {
    border-bottom: 0 none;
}