html,
body,
.container-table {
    height: 100%;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.vertical-top-row {
    display: table-cell;
    vertical-align: top;
}

.page-header {
    text-align: center;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 10px;
    margin-top: 25px;
}